<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCihdz-JDK-5bWbValegB4Li4tTTSU_5XQ</string>
	<key>GCM_SENDER_ID</key>
	<string>439612823289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.romangigliotti.quill</string>
	<key>PROJECT_ID</key>
	<string>quill-dictation-app</string>
	<key>STORAGE_BUCKET</key>
	<string>quill-dictation-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:439612823289:ios:3be6997b796c6a6571f428</string>
</dict>
</plist>